.projectsBlock {
    min-height: 100vh;
    background-color: #a84e9a;
    border: 1px solid;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.projectsTitle {
    background-color: #b0ffff;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}