.skillsBlock {
    height: 100vh;
    background-color: #67a229;
    border: 1px solid;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.styleTitle {
    background-color: #b0ffff;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}