.project {
    width: 450px;
    background-color: #b0ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.imgContainer {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://ru.react.js.org/logo-og.png");
    background-size: cover;
    background-position: center;
}

.projectButton {
    width: 30%;
    background-color: #5b6e6e;
    color: #faf8cf;
}

.description {

}