.project {
    width: 450px;
    background-color: #b0ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

img {
    width: 100%;
    background-color: #668ac5;
}

img:hover {
    opacity: 0.5;
}

.description {

}