.footerBlock {
    height: 40vh;
    background-color: #7575e0;
    border: 1px solid;
}

.footerContainer {
    flex-direction: column;
    justify-content: space-around;
}

.footerTitle {
    background-color: #b0ffff;
}

.contacts {
    align-items: center;
    background-color: #faf8cf;
    display: flex;
    height: 50px;
    justify-content: space-between;
    min-width: 60%;
}

span{
    background-color: #b0ffff;
}