.contactsBlock {
    height: 100vh;
    background-color: #8c4343;
    border: 1px solid;
}

.contactsContainer {
    flex-direction: column;
    justify-content: space-around;
}

.contactsTitle {
    background-color: #b0ffff;
}

.form {
    height: 400px;
    padding: 0;
    width: 60%;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form input {
    box-sizing: border-box;
    padding: 15px 20px;
    width: 100%;
}

.form textarea {
    height: 250px;
}

button {
    border: none;
    font-size: 20px;
    font-weight: 700;
    height: 50px;
    width: 150px;
}