.workBlock {
    height: 30vh;
    background-color: #a9a3a3;
    border: 1px solid;
}

.workContainer {
    flex-direction: column;
    justify-content: space-around;
}

.workTitle {
    background-color: #b0ffff;
}

button {
    height: 50px;
    width: 150px;
}