.mainInfo {
    background-color: #ffa897;
    height: 100vh;
}

.text {
    width: 300px;
    background-color: #b0ffff;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #b0ffff;
}